.nav {
    display: flex;
    width: 80vw;
    height: 13vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.active, .item:hover {
    color: #0d0dc6;
}

.item {
    cursor: pointer;
    transition: color .3s ease;
}
