.nav {
    display: flex;
    width: 100vw;
    height: 13vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background: #f0f7ff;
}

.active, .item:hover {
    color: #0d0dc6;
}

.item {
    cursor: pointer;
    transition: color .3s ease;
}
