body {
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    color: white;
    justify-content: stretch;
}

nav {
    font-weight: 200;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

nav .head {
    margin: 0px 80px;
    font-size: 16px;
    transition: .5s ease;
    cursor: pointer;
    letter-spacing: 1.5px;
}

nav .head:hover {
    color: rgb(68, 90, 192);
}

nav .active {
    color: rgb(114, 205, 244);
}

.dots-box {
    display: flex;
    width: 10%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 80px;
}

.dots-box .dots {
    cursor: pointer;
    margin-bottom: 16px;
    transition: .5s ease;
}

.dots-box .dots:hover {
    color: rgb(68, 90, 192);
}

.name {
    width: 95%;
    display: flex;
    margin-top: 20px;
    height: 90px;
    align-items: center;
    padding-left: 80px;
    font-size: 80px;
    font-weight: 600;
}

.illustrator {
    margin-top: 10px;
    color: #ffffffa3;
    margin-left: 80px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 10px;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    border: 1px white solid;
    width: 92%;
    height: 500px;
}

@media (max-width: 600px) {

    nav {
        width: 90%;
    }

    nav .head {
        flex-wrap: wrap;
        margin: 5px 5px;
        font-size: 12px;
    }

    nav .head:nth-child(1) {
        margin-left: 0px;
    }

    .dots-box {
        display: flex;
        width: 10%;
        font-size: 15px;
        height: 85px;
    }

    .name {
        width: fit-content;
        margin-top: 10px;
        height: 90px;
        padding-left: 10px;
        font-size: 60px;
        line-height: .8;
    }

    .illustrator {
        width: fit-content;
        margin-top: 5px;
        height: 90px;
        font-size: 12px;
        margin-left: 12px;
    }

    .gallery {
        margin-left: auto;
        margin-right: auto;
        margin-top: -5px;
        display: flex;
        border: 1px white solid;
        width: 99%;
        height: 500px;
    }

}